
.history-sec{
  background-color: var(--black15);
  padding-top: 64px;
}

.timeline-right,
.timeline-left{
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.timeline-right::after,
.timeline-left::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--grey03);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
    z-index: 0;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.timeline-item-left,
.timeline-item-right {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 48.5988%;
  max-width: 580px;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

.timeline-item-right{
  align-items: start;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-icon-right,
.timeline-icon-left {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    justify-content: start;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid var(--grey03);
    padding-bottom: 20px;
    padding-left: 50px;
    position: relative;
}

.timeline-icon-right{
    padding-right: 50px;
}

.timeline-icon-left h2,
.timeline-icon-right h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 38px;
  color: var(--grey03);
}

.timeline-content{
  padding-right: 50px;
  padding-left: 20px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--grey03);
}

.right-containerleft .timeline-icon-right::before,
.right-containerleft .timeline-icon-left::before,
.right-containerright .timeline-icon-right::before,
.right-containerright .timeline-icon-left::before
{
    content: '';
    position: absolute;
    right: -15px;
    bottom: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    background: var(--grey03);
}

.right-containerleft .timeline-icon-right::before,
.right-containerleft .timeline-icon-left::before{
    right: -15px; 
    /* right: unset; */
}

.right-containerright .timeline-icon-right::before,
.right-containerright .timeline-icon-left::before{
    left: -15px; 
    right: unset;
}

.left-containerleft .timeline-icon-left::after,
.left-containerleft .timeline-icon-right::after,
.left-containerright .timeline-icon-left::after,
.left-containerright .timeline-icon-right::after
{
    content: '';
    position: absolute;
    left: -15px;
    bottom: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    background: var(--grey03);
}

.left-containerleft .timeline-icon-left::after,
.left-containerleft .timeline-icon-right::after
{
    left: -15px;
    /* left: unset; */
}

.left-containerright .timeline-icon-left::after,
.left-containerright .timeline-icon-right::after{
    right: -15px;
    left: unset;
}

.right-containerleft{
    right: -20px;
}

.right-containerright{
    left: -20px;
}

.left-containerleft{
    left: 50%;
}

.left-containerright{
    right: 50%;
}

@media (max-width: 992px){
    .mate-arrive-sec .AA-title-desc{
        padding: 0;
    }

    .mate-arrive-sec .AA-title {
        gap: 16px;
    }

    .timeline-left::after{
        left: 10px;
    }

    .timeline-right::after{
        right: 10px;
    }

    .timeline-item-right,
    .timeline-item-left{
        width: 100%;
        max-width: 100%;
        padding-bottom: 50px;
        padding-right: 4.4444%;
    }

    .right-containerleft{
        left: 10px;
    }

    .right-containerright{
        right: 10px;
    }

    .left-containerleft{
        left: 10px;
    }

    .left-containerright{
        right: 10px;
    }

    .right-container-left .timeline-icon-left::before,
    .right-container-left .timeline-icon-right::before{
        left: -25px;
    }

    .right-containerright .timeline-icon-left::before,
    .right-containerright .timeline-icon-right::before
    {
        right: -25px;
    }
    .left-containerright .timeline-icon-left::after, .left-containerright .timeline-icon-right::after{
        right: -25px;
    }
    .right-containerleft .timeline-icon-right::before, .right-containerleft .timeline-icon-left::before{
        right: unset;
        left: -15px;
    }
}