.info-about-section{
    background-color: var(--black15);
    /* padding-top: 32px; */
    padding-bottom: 32px;
}

.info-about-section .info-cards{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 64px;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 16px;
    max-width: 340px;
    flex-basis: calc(33.3% - 64px);
}

.info-card p{
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: var(--grey03);
    text-align: center;
}

@media(max-width: 1919px){
    .info-card p{
        font-size: 20px;
        line-height: 38.4px;
    }
}

@media(max-width: 992px){
    .info-about-section{
        padding-top: 64px;
    }

    .info-about-section .info-cards{
        gap: 27px;
    }

    .info-card img{
        width: 66px;
        height: 66px;
    }

    .info-card p{
        font-size: 12px;
        line-height: 17px;
    }
}