/* language-dropdown.css */
.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-dropdown button {
  background-color: transparent;
  border: none;
  color: white; /* Adjust based on your theme */
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--black01);
  border-radius: 8px;
  list-style-type: none;
  padding: 8px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .arabic {
  right: 0;
}


.dropdown-menu li {
  padding: 13.5px 8px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: var(--white-color);
  display: block;
  display: flex;
  gap: 8px;
  cursor: pointer;

  img{
    width: 25px;
    height: 25px;
  }
}



