.footer-container{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: stretch;
}

.footer-col{
    flex-basis: calc(33.3% - 12px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}


footer ul{
    list-style: none;
    position: relative;
    padding-top: 16px;
}

footer ul:before,
.footer-col form:before {
    position: absolute;
    content: '';
    top: 0px;
    height: 2px;
    width: 100%;
    background: var(--grey01);
}

footer ul:after,
.footer-col form:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: var(--gold26);
    top: 0px;
}


.title-footer{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: 0;
    color: var(--gold26);
}

.ul-site-map,
.ul-contact-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    justify-content: center;
}

.ul-site-map img{
    width: 30px;
    height: 30px;
}

.ul-site-map li,
.ul-contact-info li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.ul-site-map li span,
.ul-contact-info li span,
form label{
    padding: 5px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    color: var(--grey03);
}

.ul-socail-link{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.ul-socail-link li a img{
  cursor: pointer; 
  transition: all 0.3s ease; 
}

/* ===========================
   Hover effect for anchor tags
   =========================== */
.ul-socail-link li a img:hover{
  transform: translateY(-8px); 
}

.footer-links a {
    text-decoration: none;
    color: var(--black01);
    cursor: pointer;
    position: relative;
}

.ul-contact-info li a,
.ul-site-map li a{
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

/* =============
    Hover Effect Links with respect left / right direction
   =============*/
.ul-contact-info li .hover-link::after,
.ul-site-map li .hover-link::after
 {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--gold26);
    transition: width 0.3s ease;
}

.ul-contact-info li .hover-link-right::after,
.ul-site-map li .hover-link-right::after{
    right: 0;
}

.ul-contact-info li .hover-link-left::after,
.ul-site-map li .hover-link-left::after{
    left: 0;
}

.ul-contact-info li .hover-link:hover::after,
.ul-site-map li .hover-link:hover::after{
    width: 100%;
}

.footer-col form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
} 

.footer-col form label {
    display: block;
}
  
.footer-col form input,
.footer-col form textarea {
    background-color: var(--gold10);
    width: 100%;
    padding: 10px;
    border: 2px solid var(--gold26);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}
  
.footer-col form input:focus,
.footer-col form textarea:focus {
    outline: none;
    border-color: var(--gold26); /* Brighter yellow on focus */
  }
  
.footer-col form textarea {
    resize: vertical;
    min-height: 50px;
  }
  
.footer-col form button {
    width: 100%;
    padding: 10px;
    background-color: var(--gold26);
    color: var(--black-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    border: none;
    transition: transform 0.3s ease; 
  }

  /* ===========================
   Hover effect for the login button
   =========================== */
.footer-col form button:hover {
    background-color: var(--black01);
    color: var(--gold26);
    border: 1px solid var(--gold26);
    transform: scale(1.05);
}

@media(max-width: 1919px){
    .ul-site-map,
    .ul-contact-info{
        gap: 8px;
    }

    .ul-site-map img{
        width: 20px;
        height: 20px;
    }

    .title-footer{
        font-size: 20px;
        line-height: 30px;
    }

    .ul-site-map li span,
    .ul-contact-info li span,
    form label{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .footer-col form input,
    .footer-col form textarea {
        font-size: 16px;
    }

    .footer-col form button {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
    }
}

@media(max-width: 992px){
    .footer-container{
        flex-wrap: wrap;
    }

    .footer-col{
        flex-basis: 100%;
    }
}
  