.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  font-family: sans-serif;
}

.pagination-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination-btn:hover:not([disabled]) {
  border: 1px solid var(--gold26);
}

.pagination-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-pages {
  display: flex;
  gap: 4px;
}

.pagination-item {
  background: none;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  color: var(--white-color);
}

.pagination-item:hover:not(.active) {
  border: 1px solid var(--gold26);
}

.pagination-item.active {
  background-color: var(--gold26);
  color: white;
  font-weight: bold;
}

.pagination-ellipsis {
  padding: 6px 6px;
  font-size: 14px;
  user-select: none;
  color: #555;
}


@media (max-width: 1919px) {
    .pagination-btn,
    .pagination-item {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .pagination-btn,
    .pagination-item {
        font-size: 12px;
    }

    .pagination-container{
      flex-wrap: wrap;
    }
}