.center-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    background-color: var(--black01);

}


.center-desc{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px 16px 16px;
}

.center-card h5{
    color: var(--gold26);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    border-bottom: 1px solid #A6A5B4;
    width: 100%;
    padding: 16px;
}

.center-card .center-info-row{
    display: flex;
    align-items: center;
    gap: 8px;
}

.center-card span{
    color: var(--greyb4);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
}

@media(max-width: 992px){
    .center-card{
        width: 100%;
    }

    .center-card:nth-child(odd){
        background-color: var(--black17);
    }
}