.product-card-border{
    background: linear-gradient(180deg, var(--gold26) 0%, var(--grey01) 100%);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 1px; 
    max-width: 316px;
    transition: all 0.3s ease;
}

 /* Increase shadow on hover effect */
.product-card-border:hover{
  border: 2px solid var(--blue01);
  box-shadow: 0 8px 12px var(--gold26);
}


.product-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    background-color: var(--black01);
    padding: 16px;
    border-radius: 16px;
    min-height: 355px;
    height: 100%;
}

.product-card img{
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease; 
    box-shadow: 0px 4px 8px 0px #1b1b1b7a;
}

/* Hover Effect on Image */
.product-card:hover img {
  transform: scale(1.05); /* Zoom in the image */
}

.product-card .product-desc{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    height: 100%;
}

.product-card h5{
    color: var(--gold26);
    font-weight: 600;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0;
}

.product-card p,
.product-card .btn-comp{
    color: var(--greyb4);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.product-card .btn-comp{
    margin-top: auto
}

@media(max-width: 1919px){
    .product-card h5{
        font-size: 20px;
        line-height: 30px;
    }

    .product-card p,
    .product-card .btn-comp{
        font-size: 14px;
        line-height: 21px;
    }
}

@media(max-width: 992px){
    .product-card-border{
        min-width: 250px;
        width: 100%;
        max-width: 100%;
    }

    .product-card h5{
        font-size: 14px;
        line-height: 21px;
    }

    .product-card p,
    .product-card .btn-comp{
        font-size: 12px;
        line-height: 18px;
    }
}