.layout-product{
    display: flex;
    align-items: start;
    justify-content: stretch;
    gap: 20px;
}

.layout-product .product-cards {
    display: flex;
    gap: 16px;
    justify-content: center;  
    background-color: #191917;
    flex-wrap: wrap;
}

.layout-product .product-cards .product-card-border{
    flex-basis: calc(33.33% - 16px) !important;
}

.layout-product .product-cards-braadcrumb{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 1;
}

@media (max-width: 1200px){
    .layout-product .product-cards .product-card-border{
        flex-basis: 50% !important;
    }
}

@media (max-width: 992px){
    .layout-product{
        flex-wrap: wrap;
    }
    .layout-product .product-cards {
        flex-wrap: wrap;
    }

    .layout-product .product-cards .product-card-border{
        flex-basis: 100% !important;
    }

    .layout-product .product-cards-braadcrumb{
            padding-top: 0;
    }
}