.layout-product{
    display: flex;
    align-items: start;
    justify-content: stretch;
    gap: 20px;
}

.layout-product .product-cards {
    display: flex;
    gap: 16px;
    justify-content: start;  
    background-color: var(--black17);
    flex-wrap: wrap;
}

.layout-product .product-cards .product-card-border{
    flex-basis: calc(33.33% - 16px) !important;
}

.layout-product .product-cards-braadcrumb{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 1;
}

.product-cards-braadcrumb .btn-filters{
    margin-top: 50px;
    font-size: 14px;
    display: flex;
    justify-content: end;
}

.product-cards-braadcrumb .btn-filters .btn-comp{
    font-size: 14px;
    padding: 8px;
}

@media (max-width: 1200px){
    .layout-product .product-cards .product-card-border{
        flex-basis: 50% !important;
    }
}

@media (max-width: 992px){
    .layout-product{
        flex-wrap: wrap;
    }
    
    .layout-product .product-cards {
        flex-wrap: wrap;
    }

    .layout-product .product-cards-braadcrumb{
            padding-top: 0;
    }
}

@media (max-width: 570px) {
    .layout-product .product-cards .product-card-border{
        flex-basis: 100% !important;
    }
}