.filters {
  width: 23.54166%;
  background-color: var(--black01);
  padding-top: 124px;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.filters-padding{
  padding-left: 64px;   
}

.filters-padding-rtl{
  padding-right: 64px;   
}

.filter{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.line-filter-sperater{
  height: 1px;
  width: 100%;
  background-color: var(--grey88);
}

.filters h3 {
  color: var(--gold26);
  margin-bottom: 10px;
}

.filter h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--white-color);
}


.filters ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filters-option{
    display: flex;
    gap: 16px;
}

.filters-option span{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    color: var(--white-color);
}


/* Reset the default appearance */
.styled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Custom size */
  width: 20px;
  height: 20px;
  /* Border and background */
  border: 2px solid var(--white-color);
  border-radius: 4px;
  background-color: var(--black01);
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Change the color when checked */
.styled-checkbox:checked {
  background-color: var(--gold26);
  border-color: var(--gold26); 
}

/* Add a checkmark */
.styled-checkbox:checked::after {
  content: '✔';
  display: block;
  text-align: center;
  font-size: 14px;
  color: white;
  line-height: 20px;
}

.hide-side{
  display: none;
} 


@media (max-width: 992px){
    .filters{
        width: 100%;
        position: fixed;
        height: 90vh;
        top: 0px;
        left: 0px;
        z-index: 20;
        scroll-behavior: smooth;
        overflow-y : auto ;
    }

    .filters-padding{
      padding-left: 4.4444%;
    }

    .filters-padding-rtl{
      padding-right: 4.4444%;
    }
}
