.event-card-border{
    background: linear-gradient(180deg, #D39326 0%, #515061 100%);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 1px;
    transition: all 0.3s ease;
}

 /* Increase shadow on hover effect */
.event-card-border:hover{
  border: 2px solid var(--blue01);
  box-shadow: 0 8px 12px var(--gold26);
}

.event-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    background-color: var(--black01);
    padding: 16px;
    border-radius: 16px;
}


.event-card .event-img{
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease; 
}

/* Hover Effect on Image */
.event-card:hover .event-img {
  transform: scale(1.05); /* Zoom in the image */
}


.event-card h5{
    color: var(--gold26);
    font-weight: 600;
    font-size: 16px;
    line-height: 33.6px;
    letter-spacing: 0;
}

.event-card .event-info-row{
    display: flex;
    gap: 8px;
}

.event-card span{
    color: var(--greyb4);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
}

@media(max-width:992px){
    .event-card{
        min-width: 256px;
    }

    .event-card .event-img{
        width: 100%;
        max-width: 100%;
    }
}