.product-category-section{
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--black15);
    padding-top: 64px;
    padding-bottom: 64px;
}

.product-category-section .AA-title{
    align-items: start;
}

.product-category-cards{
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

.product-category-card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 32px;
    flex-basis: calc(20% - 52.5px);
    transition: transform 0.3s ease; 
}

.product-category-card img{
    border-radius: 16px;
}

.product-category-card h5{
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    color: var(--white-color);
    text-align: center;
}

  /* ===========================
   Hover effect for the product category card
   =========================== */
.product-category-card:hover {
    transform: translateY(-10px);
}

@media(max-width: 992px){
    .product-category-section{
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 32px;
    }

    .product-category-card img{
        min-width: 168px;
        min-height: 100px;
        width: 100%;
    }

    .product-category-card h5{
        font-size: 16px;
        line-height: 24px;
    }

    .product-category-cards{
        gap: 16px;
        align-items: center;
        justify-content: center;
    }

    .product-category-card{
        gap: 12px;
        flex-basis: 0;
        max-width: 168px;
    }
}