.mate-arrive-sec{
  padding-top: 64px;
}

.mate-arrive-phases{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.mate-arrive-row{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 72px;
}

.mate-arrive-card-left,
.mate-arrive-card-right{
    max-width: 290px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    position: relative;
}

.mate-arrive-desc{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

.mate-arrive-sec .line{
    width: 100%;
}

.mate-arrive-sec .line::after{
    content: '';
    position: absolute;
    top: 50px;
    width: 100%;
    border-top: 4px dashed var(--gold26);
}

.mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card-left:nth-child(1)::before,
.mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card-right:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 50px;
    height: 120.8%;
    width: 50px;
    border-top: 5px dashed var(--gold26);
    border-bottom: 5px dashed var(--gold26);
    border-radius: 8px;
}

.mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card-left:nth-child(1)::before {
    border-left: 5px dashed var(--gold26); 
    left: -50px;
}

.mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card-right:nth-child(1)::before {
    border-right: 5px dashed var(--gold26);
    right: -50px;
}

.mate-arrive-row:nth-child(even) .mate-arrive-card-left:nth-child(3)::before,
.mate-arrive-row:nth-child(even) .mate-arrive-card-right:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 50px;
    height: 115%;
    width: 50px;
    border-top: 5px dashed var(--gold26);
    border-bottom: 5px dashed var(--gold26);
    border-radius: 8px;
}

.mate-arrive-row:nth-child(even) .mate-arrive-card-left:nth-child(3)::before{
    right: -50px;
    border-right: 5px dashed var(--gold26);
}

.mate-arrive-row:nth-child(even) .mate-arrive-card-right:nth-child(3)::before{
    left: -50px;
    border-left: 5px dashed var(--gold26);
}

.mate-arrive-row:nth-child(4) .mate-arrive-card-left:nth-child(3)::before,
.mate-arrive-row:nth-child(4) .mate-arrive-card-right:nth-child(3)::before {
    height: 135%;
}

.mate-arrive-row .mate-arrive-card-left:nth-child(2)::before,
.mate-arrive-row .mate-arrive-card-right:nth-child(2)::before{
    content: '';
    position: absolute;
    right: -70px;
    top: 50px;
    height: 120%;    
    width: 70px;
    border-top: 4px dashed var(--gold26);

}

.mate-arrive-row .mate-arrive-card-left:nth-child(2)::after,
.mate-arrive-row .mate-arrive-card-right:nth-child(2)::after{
    content: '';
    position: absolute;
    left: -70px;
    width: 70px;
    top: 50px;
    border-top: 4px dashed var(--gold26);
}

.mate-arrive-card-left img,
.mate-arrive-card-right img{
    width: 100%;
    max-width: 290px;
    max-height: 168px;
    min-height: 168px;
    border-radius: 16px;
}

.mate-arrive-card-left h4,
.mate-arrive-card-right h4{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 38.4px;
  color: var(--gold26);
}

.mate-arrive-card-left p,
.mate-arrive-card-right p{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  color: var(--grey03);
}
.mate-arrive-row:nth-child(3):not(:last-child) .mate-arrive-card-left:nth-child(1)::before{
    height: 128.8%;
}   
.mate-arrive-row:nth-child(3):not(:last-child) .mate-arrive-card-right:nth-child(1)::before{
    height: 120%;
}

@media(max-width: 1200px){
    
      
    .mate-arrive-row{
        flex-wrap: wrap;
        justify-content: start;
        gap: 24px;
    }

    .mate-arrive-row .mate-arrive-card-left:nth-child(2)::after,
    .mate-arrive-row .mate-arrive-card-left:nth-child(2)::before,
    .mate-arrive-row:nth-child(even) .mate-arrive-card-left:nth-child(3)::before,
    .mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card-left:nth-child(1)::before,
    .mate-arrive-row .mate-arrive-card-right:nth-child(2)::after,
    .mate-arrive-row .mate-arrive-card-right:nth-child(2)::before,
    .mate-arrive-row:nth-child(even) .mate-arrive-card-right:nth-child(3)::before,
    .mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card-right:nth-child(1)::before{
        width: 0px;
        height: 0%;
        left: -50px;
        top: 0px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
    }

    .mate-arrive-row  .mate-arrive-card-left,
    .mate-arrive-row  .mate-arrive-card-right{
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        position: relative;
    }

    .mate-arrive-row .mate-arrive-card-left::before,
    .mate-arrive-row .mate-arrive-card-right::before{
        content: '';
        position: absolute;
        width: 1px !important;
        height: 50% !important;
        transform: translateX(-50%);
        top: 95.5% !important;
        border-left: 5px dashed var(--gold26) !important;
    }

    .mate-arrive-row .mate-arrive-card-left::before{
        left: 20% !important;
        right: 0 !important;

    }

     .mate-arrive-row .mate-arrive-card-right::before{
        right: 10% !important;
        left: 0 !important;
    }

    .mate-arrive-row:nth-child(5) .mate-arrive-card-left:nth-child(3):before,
    .mate-arrive-row:nth-child(5) .mate-arrive-card-right:nth-child(3):before{
        width: 0px !important;
        height: 0px !important;
    }

    .mate-arrive-desc{
        justify-content: center;
        gap: 16px;
        min-width: 45%;
        width: 45%

    }

    .mate-arrive-sec .line{
        height: 0 !important;
        width: 0 !important;
        display: none;
    } 

    .mate-arrive-sec .line::after{
        width:  0% !important;
    }

    .mate-arrive-card-left img,
    .mate-arrive-card-right img{
        min-width: 116px;
        min-height: 80px;
        max-width: 45%;
        max-height: 100% ;
        width: 45%
    }

    .mate-arrive-card-left h4,
    .mate-arrive-card-right h4{
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
    }
}

@media(max-width: 540px){
    .mate-arrive-phases {
        gap: 24px;
    }   

    .mate-arrive-desc{
        min-width: 65%;
    }

    .mate-arrive-card-left img,
    .mate-arrive-card-right img{
        width: 25%
    }

    .mate-arrive-row .mate-arrive-card-left::before, .mate-arrive-row .mate-arrive-card-right::before {
        height: 50% !important;
        top: 90% !important;
    }

    .mate-arrive-card-left, .mate-arrive-card-right{
        min-height: 110px;
    }

    .mate-arrive-card-left h4,
    .mate-arrive-card-right h4{
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
    }

    .mate-arrive-card-left p,
    .mate-arrive-card-right p{
        font-size: 12px;
        line-height: 18px;
    }
}