
.mate-arrive-sec{
  padding-top: 64px;
}


.mate-arrive-phases{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.mate-arrive-row{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 72px;
}

.mate-arrive-card{
    max-width: 290px;
    min-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    position: relative;
}

.left-line,
.right-line{
    width: 100%;
}

.left-line::after,
.right-line::after{
    content: '';
    position: absolute;
    top: 50px;
    width: 100%;
    border-top: 4px dashed var(--gold26);
}

.mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card:nth-child(1)::before {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    height: 115%;
    width: 50px;
    border-left: 5px dashed var(--gold26);
    border-top: 5px dashed var(--gold26);
    border-bottom: 5px dashed var(--gold26);
    border-radius: 8px;
}


.mate-arrive-row:nth-child(even) .mate-arrive-card:nth-child(3)::before {
    content: '';
    position: absolute;
    right: -50px;
    top: 50px;
    height: 115%;
    width: 50px;
    border-right: 5px dashed var(--gold26);
    border-top: 5px dashed var(--gold26);
    border-bottom: 5px dashed var(--gold26);
    border-radius: 8px;
}


.mate-arrive-row .mate-arrive-card:nth-child(2)::before{
    content: '';
    position: absolute;
    right: -70px;
    top: 50px;
    height: 120%;    
    width: 70px;
    border-top: 4px dashed var(--gold26);

}


.mate-arrive-row .mate-arrive-card:nth-child(2)::after{
    content: '';
    position: absolute;
    left: -70px;
    width: 70px;
    top: 50px;
    border-top: 4px dashed var(--gold26);
}

.mate-arrive-card img{
    width: 100%;
    max-width: 290px;
    max-height: 168px;
    min-height: 168px;
    border-radius: 16px;
}

.mate-arrive-card h4{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 38.4px;
  color: var(--gold26);
  text-align: right;
}

.mate-arrive-card p{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  color: var(--grey03);
  text-align: right;
}

@media(max-width: 992px){
    .mate-arrive-row{
        flex-wrap: wrap;
        justify-content: start;

    }

    .mate-arrive-row .mate-arrive-card:nth-child(2)::after,
    .mate-arrive-row .mate-arrive-card:nth-child(2)::before,
    .mate-arrive-row:nth-child(even) .mate-arrive-card:nth-child(3)::before,
    .mate-arrive-row:nth-child(odd):not(:last-child) .mate-arrive-card:nth-child(1)::before{
        width: 0;
        height: 0;
    }

}