.events-section{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.events-section .AA-title{
    text-align: start;
}

.events-section .event-cards{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 16px;
}

.events-section .events-show-more{
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 2px;
}

.events-show-more .line{
    height: 2px;
    width: 89.32892%;
    background-color: var(--grey44);
}

.events-show-more .btn-comp{
    width: 10.0609%;
    text-align: center;
}

@media(max-width: 992px){
    .events-section{
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 32px;
    }

    .events-section .AA-title{
        padding-bottom: 0px;
        align-items: start;
    }

    .events-section .event-cards{
      overflow-x: scroll;
      padding: 20px 0;
    }

    .events-section .event-cards::-webkit-scrollbar {
        display: none;
    }

    .events-section .events-show-more{
        display: none;
    }
}