.products-section{
    background-color: var(--black15);
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.products-section .AA-title{
    align-items: start;
}

.products-section .product-cards{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 16px;
}

.products-section .product-cards .product-card-border {
    flex-basis: calc(25% - 16px);
}

.products-section .products-show-more{
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 2px;
}

.products-show-more .line{
    height: 2px;
    width: 89.32892%;
    background-color: var(--grey44);
}

.products-show-more .btn-comp{
    width: 10.0609%;
    text-align: center;
}

@media(max-width: 992px){
    .products-section{
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 32px;
    }

    .products-section .AA-title{
        padding-bottom: 0px;
    }

    .products-section .product-cards{
      overflow-x: scroll;
      padding: 20px 0;
    }

    .products-section .product-cards::-webkit-scrollbar {
        display: none;
    }

    .products-section .products-show-more{
        display: none;
    }
}