.mate-benifit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding-top: 64px;
}

/* .mate-benifit .left-side{
    padding-left: 24px;
} */


.mate-benifit .left-side img{
    max-width: 491px;
    max-height: 491px;
}

.mate-benifit .right-side{
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* padding-right: 24px; */
}

.mate-benifit .right-side h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0;
    color: var(--gold26);
}

.mate-benifit .right-side li{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--grey03);
    padding-bottom: 5px;
}

@media(max-width: 992px){
    .mate-benifit{
        flex-wrap: wrap;
        gap: 24px;
    }

    .mate-benifit .left-side{
        align-self: center;
    }

    .mate-benifit .left-side img{
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
    }
    .mate-benifit .right-side{
        gap: 16px;
    }

    .mate-benifit .right-side h3{
        font-size: 20px;
    }

    .mate-benifit .right-side li{
        font-size: 14px;
    }
}