.map-tooltip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
  /* pointer-events: none; */
  z-index: 1000;
  /* white-space: nowrap; */
}

.path-map{
  fill: var(--greyb5);
}